@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0px;
}

.container_main {
  scroll-behavior: smooth;
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
}
.container_main p {
  margin: 15px;
}

.header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 50;
  /* max-width: 1500px; */
  margin: 0 5px;
}
@media screen and (max-width: 390px) {
  .header {
    position: fixed;
    /* добавляем "гамбургер" */
  }
  .header .toggle_container {
    display: flex;
    align-items: center;
    position: fixed;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
    top: 7px;
  }
  .header .toggle_container > span,
.header .toggle_container > span::before,
.header .toggle_container > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: darkred;
  }
  .header .toggle_container > span::before {
    content: "";
    top: -8px;
  }
  .header .toggle_container > span::after {
    content: "";
    top: 8px;
  }
  .header .nav-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
  .header #toggle:checked ~ .toggle_container > span {
    transform: rotate(45deg);
  }
  .header #toggle:checked ~ .toggle_container > span::before {
    top: 0;
    transform: rotate(0);
  }
  .header #toggle:checked ~ .toggle_container > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .header #toggle:checked ~ .nav-list {
    visibility: visible;
    left: 0;
  }
  .header .toggle_container > span,
.header .toggle_container > span::before,
.header .toggle_container > span::after {
    transition-duration: 0.25s;
  }
  .header .nav-list {
    transition-duration: 0.25s;
  }
  .header .nav-itemm {
    transition-duration: 0.25s;
  }
}
.header nav {
  border-radius: 0 0 10px 10px;
  overflow: hidden;
}
.header nav .nav-list {
  display: flex;
  flex-flow: row wrap;
  list-style: none;
  background-color: rgb(209, 177, 177);
  margin: 0;
  justify-content: center;
}
@media screen and (max-width: 390px) {
  .header nav .nav-list {
    display: block;
    position: fixed;
    visibility: hidden;
    /*  top: 0;*/
    left: -100%;
    width: 200px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  }
}
.header nav .nav-list .nav-item {
  padding: 5px;
  margin: 5px;
}
.header nav .nav-list .nav-item .nav_link {
  text-decoration: none;
  font-weight: 700;
  color: darkred;
  transition: 0.3s;
}
.header nav .nav-list .nav-item .nav_link:hover {
  background: linear-gradient(to left, rgb(209, 177, 177), darkred 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}
@media screen and (max-width: 390px) {
  .header nav .nav-list .nav-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
  }
}
.header #toggle {
  opacity: 0;
  position: absolute;
}

.container {
  display: flex;
  margin: 40px 5px;
  justify-content: center;
  flex-flow: row wrap;
}
.container .main_info {
  border-radius: 10px 10px;
  background-color: rgb(209, 177, 177);
  margin: 5px;
}
.container .main_info h1 {
  text-align: center;
  margin: 5px;
}
.container .main_info h2 {
  margin-bottom: 5px;
}
.container .main_info .section_main {
  margin: 15px;
}
.container .main_info .section_main h5 {
  text-align: center;
  margin-top: 0px;
}
.container .main_info .section_main .logo {
  border-radius: 60px;
  display: block;
  margin: auto;
}
.container .main_info .section_main ul li a {
  text-decoration: none;
  font-weight: 700;
  color: darkred;
  transition: 0.3s;
}
.container .main_info .section_main ul li a:hover {
  background: linear-gradient(to left, rgb(209, 177, 177), darkred 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}
.container .other_info {
  margin-left: 20px;
}
.container .other_info .other_info h2 {
  background: linear-gradient(to left, #fff, rgb(209, 177, 177) 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
  color: #4d4d4d;
}
.container .other_info .section {
  position: relative;
  padding: 0 20px;
  margin-bottom: 20px;
}
.container .other_info .section pre {
  background-color: floralwhite;
  box-shadow: 7px 7px 5px 5px rgba(0, 0, 0, 0.2);
  max-width: 450px;
}
.container .other_info .section a {
  text-decoration: none;
  font-weight: 700;
  color: darkred;
  transition: 0.3s;
}

/**********************
*begin section
***********************/
#projects a {
  color: darkred;
}

#projects a:hover {
  color: rgb(49, 21, 21);
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(209, 177, 177);
  max-width: 1500px;
  margin: 40px auto 0;
  font-weight: 700;
  color: darkred;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}
footer p a {
  text-decoration: none;
  color: darkred;
}
footer p a:hover {
  background: linear-gradient(to left, rgb(209, 177, 177), darkred 100%);
  background-position: 0 100%;
  background-size: 100% 2px;
  background-repeat: repeat-x;
}/*# sourceMappingURL=style.css.map */